<style type="text/css">
    .giohang {
        color: red;
        font-size: smaller;

    }
</style>


<a href="@Url.Action("GioHang","Cart")" class="giohang">
    <span class="ti-shopping-cart" style="color: red;"> Giỏ hàng (@ViewBag.TongSoLuong)</span>
</a>

