
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LONGAN</title>
</head>

<body>
    <div>
        Nguyễn Long Ẩn
    </div>
  
</body>
</html>