<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <hr />
    <h1 style="text-align: center;">Xin chào! {{Fullname}}</h1>
    <hr />
    <h2 style="text-align: center;">CỬA HÀNG TIỆN LỢI DOUBLE A</h2>
    <h4 style="text-align: center;">Cảm ơn bạn đã mua hàng! Chúng tôi sẽ gọi xác nhận đơn đặt hàng trong thời gian sớm nhất.</h4>
    <br />
    <hr />
    <h2 style="text-align: center;">Thông tin xác nhận đơn đặt hàng</h2>
    <table style="width:100%;text-align: center">
        <tr>
            <th>Tổng số sản phẩm</th>
            <th>Tổng tiền</th>

        </tr>
        <tr>
            <td>{{TongSanPham}} Sản phẩm</td>
            <td>{{TongTien}} VNĐ</td>

        </tr>
    </table>
    <hr />
    <h2 style="text-align: center;">Thông tin đặt hàng</h2>

        <p >Email: <a style="font-weight: bold;">{{Email}}</a></p>
        <p >Ngày đặt: <a style="font-weight: bold;">{{NgayDat}}</a></p>
        <p >Họ tên người nhận: <a style="font-weight: bold;">{{Hotennguoinhan}}</a></p>
        <p >Số điện thoại: <a style="font-weight: bold;">{{SDT}}</a></p>
        <p >Địa chỉ nhận: <a style="font-weight: bold;">{{DiaChi}}</a></p>
      
   
    <hr />
    <hr>
    <div style="text-align: center;">
        <h4>Mọi thông tin thắc mắc vui lòng liên hệ hotline: 0845.475.575 hoặc Email: longan692@gmail.com </h4>
        <h5>Cửa hàng tiện lợi DOUBLE A rất hân hạn được phục vụ quý khách</h5>
    </div>
    <hr>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</body>
</html>