<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <hr />
    <h1>Xin chào! {{Fullname}}</h1>
    <hr />
    <p>Chúng tôi nhận được yêu cầu cấp lại mật khẩu của bạn. Dưới đây là mật khẩu mới của bạn.</p>
    <p>Mật khẩu mới: <a style="font-weight: bold;">{{password}} </a> </p>
    <p>Vui lòng thay đổi mật khẩu sau khi đăng nhập!</p>
    <br />
    <br />
    <br />
    <br />
    <h6 style="color:red">Lưu ý: Nếu không thấy tin nhắn lấy lại mật khẩu từ cửa hàng, vui lòng kiểm tra tin nhắn rác hoặc mục tin quảng cáo. Xin cảm ơn!</h6>
    <hr>
    <h4>Mọi thông tin thắc mắc vui lòng liên hệ hotline: 0845.475.575 hoặc Email: longan692@gmail.com </h4>
    <h5>Cửa hàng tiện lợi DOUBLE A rất hân hạn được phục vụ quý khách</h5>
    <hr>
</body>
</html>