
@{
    ViewBag.Title = "KhongTimThay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" style="margin-top:300px;text-align:center;margin-left:200px;margin-right:200px">
    <strong>KHÔNG TÌM THẤY SẢN PHẨM NÀO</strong>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

