@model IEnumerable<QLCHTL.Models.CT_DONDATHANG>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Chi tiết đơn hàng</h2>

<table class="table">
    <tr>
        <th>
            Sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Tình trạng giao
        </th>
        <th>
            Ngày giao
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HANG.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONDATHANG.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
        </tr>
    }

</table>
